#cms_page_container {
	padding: 10px;
	position: relative;
}

#cms_page_container section {
	margin: 5px 0;
	padding: 10px;
	min-height: 3em;
	width: 100%;
	position: relative;
	border: dashed 1px #cccccc;
}

#cms_page_container section:hover {
	border: dashed 1px #333333;
}

#cms_page_container section.selected {
	border: dashed 1px #3333cc;
	box-shadow: 0px 0px 5px #3333cc inset, 0px 0px 5px #3333cc;
}

/*#cms_page_container section.delete-mask {
	background: rgba(204, 51, 51, 0.25);
	border: dashed 1px #cc3333;
	box-shadow: 0px 0px 5px #cc3333 inset, 0px 0px 5px #cc3333;
}*/

#cms_page_container section .cms-page-row {
	margin: 5px 0;
	padding: 31px 10px 10px 10px;
	min-height: 3em;
	width: 100%;
	position: relative;
	border: dashed 1px #cccccc;
}

#cms_page_container section .cms-page-row:hover {
	border: dashed 1px #333333;
}

#cms_page_container section .cms-page-row.selected {
	border: dashed 1px #3333cc;
	box-shadow: 0px 0px 5px #3333cc inset, 0px 0px 5px #3333cc;
}

/*#cms_page_container section .cms-page-row.delete-mask {
	background: rgba(204, 51, 51, 0.25);
	border: dashed 1px #cc3333;
	box-shadow: 0px 0px 5px #cc3333 inset, 0px 0px 5px #cc3333;
}*/

#cms_page_container section .cms-page-row .cms-page-col {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	padding: 10px;
	min-height: 3em;
	min-width: 100px;
	position: relative;
	border: dashed 1px #cccccc;
	overflow: hidden;
}

#cms_page_container section .cms-page-row .cms-page-col:hover {
	border: dashed 1px #333333;
}

#cms_page_container section .cms-page-row .cms-page-col.selected {
	border: dashed 1px #3333cc;
	box-shadow: 0px 0px 5px #3333cc inset, 0px 0px 5px #3333cc;
}

#cms_page_container button.action-add-section,
#cms_page_container button.action-add-row,
#cms_page_container button.action-add-col {
	position: relative;;
	z-index: 1011;
}

#cms_page_container button.action-del-section,
#cms_page_container button.action-del-row,
#cms_page_container button.action-del-col {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1001;
}

#cms_page_block_properties_container {
}

#cms_page_block_properties .form-group, #cms_page_widget_select .form-group {
	margin: 5px;
} 

#cms_page_block_properties label, #cms_page_widget_select label {
	font-size: 12px;
}

#cms_page_block_properties fieldset legend {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

#cms_page_block_properties fieldset {
	margin-top: 10px;
	font-size: 12px;
}

#cms_page_block_properties textarea[name="content"] {
	font-family: monospace;
	height: 100%;
}

.input-box-model-top input, .input-box-model-left-right input, .input-box-model-bottom input {
	display: inline-block;
	width: 90px;
}

.input-box-model-top input, .input-box-model-bottom input {
	margin-left: 90px;
}

.input-box-model-left-right input + input {
	margin-left: 86px;
}

#cms_page_widget_select {
	margin-top: 10px;
}

#cms_page_widget_select .btn {
	margin-left: 10px;
}

.cms-page-widget-params {
	display: none;
	margin-bottom: 10px;
}

#cms_page_editor_content {
	height: 100%;
}

#delete_mask {
	display: none;
	position: absolute;
	background: rgba(204, 51, 51, 0.5);
	border: dashed 1px #cc3333;
	box-shadow: 0px 0px 3px #cc3333 inset, 0px 0px 3px #cc3333;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 1000;
}

#insert_mask {
	display: none;
	position: absolute;
	background: rgba(51, 201, 51, 0.5);
	border: dashed 1px #33cc33;
	box-shadow: 0px 0px 3px #33cc33 inset, 0px 0px 3px #33cc33;
	width: 100px;
	height: 5px;
	top: 0;
	left: 0;
	z-index: 1010;
}
